name: Java CI with Maven

on:
  push:
    branches:
      - "main"
      - "nina"
      - "lina"
      - "pia"
  pull_request:
    branches:
      - "main"
      - "nina"
      - "lina"
      - "pia"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Checkstyle Check
      run: mvn checkstyle:check

    - name: Install Xvfb
      run: sudo apt-get install -y xvfb

    - name: Start Xvfb
      run: Xvfb :99 &

    - name: Set DISPLAY environment variable
      run: echo "DISPLAY=:99" >> $GITHUB_ENV

    - name: Build with Maven
      run: mvn clean install
    
    - name: Run tests with JaCoCo
      run: mvn test --file ./pom.xml

    - name: Generate Javadoc
      run: mvn javadoc:javadoc --file ./pom.xml

    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
    - name: Update dependency graph
      run: mvn com.github.ferstl:depgraph-maven-plugin:4.0.1:graph --file ./pom.xml

    - name: Upload Javadoc
      uses: actions/upload-artifact@v3
      with:
        name: javadoc
        path: target/site/apidocs/

    - name: Generate JaCoCo report
      run: mvn jacoco:report --file ./pom.xml

    - name: Upload JaCoCo report
      uses: actions/upload-artifact@v3
      with:
        name: jacoco-report
        path: target/site/jacoco/


